/* รีเซ็ตการตั้งค่าเบื้องต้น */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* จัดการรูปแบบของ body */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* รูปแบบส่วนหัว */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 15px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* รูปแบบเนื้อหาหลัก */
.main-content {
    background-color: greenyellow;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content img {
    width: 20%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
}

.main-content button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.main-content button:hover {
    background-color: #45a049;
}

/* รูปแบบส่วนท้าย */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
